*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/Info.java
/app/src/main/java/com/taylorrayhoward/taylor/spotifyalarm/
Info.java
